* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  background: #ebe6e6;
  min-height: 100vh;
}
#wavy-header {
  max-height: 12vmin;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.topleft {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 18px;
  color: #ebe6e6;
}

/* Text Box on Back Image */
.container {
  max-width: 1000px;
  margin: 3.5rem auto 2rem auto;
  /* margin: auto; */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.text-box {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 62px;
  line-height: 106%;
  color: rgb(39, 51, 57);
}

.underline {
  text-decoration-color: #e28090;
}
.underline::before {
  height: 5px;
  position: absolute;
  background: #e28090;
  content: "";
  width: 45%;
  bottom: -2px;
  z-index: -1;
}

.page1-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
.page1-img {
  max-width: 540px;
  width: 100%;
}
.information {
  flex: 1;
  padding-left: 70px;
}
.button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  background-color: white;
  font-size: 100%;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
button.learn-more {
  background-color: #292b2c;
  color: white;
  cursor: pointer;
}
.info-title {
  font-size: 30px;
  font-weight: bold;
}
.info-all {
  color: #000000b3;
  max-width: 700px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 17px;
}
